.addInCart{
     font-size: 25pt;
     color: limegreen;
     cursor: Pointer;
 }

#logo img{
    width: 50px;
    height: 50px;
}

/*.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    width: 1000px;
}*/

.barrNav-margin{
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .panel-custom-title {
        margin-right: -22px;
    }
}

/*.col-lg-3{
    padding-left: 0px;
    padding-right: 0px;
}*/

#fixedtop{
    position:fixed;
}

#panelSkill{
    padding-left: 0px;
    padding-right: 0px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

#list-group-admin .list-group-item {
    border-radius: 0
}

@media (min-width: 1200px) {
    .panel-custom-height {
        height: 590px;
        overflow-y: scroll;
    }

    .panel-custom-title {
        margin-right: -41px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .panel-custom-title {
        margin-right: 1px;
    }
}

@media screen and (min-width: 561px) and (max-width: 767px) {
    .panel-custom-title {
        margin-right: -25px;
    }
}

@media screen and (min-width: 480px) and (max-width: 560px) {
    .panel-custom-title {
        margin-right: -64px;
    }
}

@media screen and (min-width: 480px) and (max-width: 560px) {
    .panel-custom-title {
        margin-right: -64px;
    }
}

.none {
    display: none;
}

#visibleInfos{
    width :250px;
}

#visibleInfos #nom_visible{
    float: right;
    margin-left: 30px;
}